@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

body{
  background: #f2f2f2;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

li, a{
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-radius: 15px;
}

footer{
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;

}

h1{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2{
  padding: 10px;
}

button{
  background-color: black;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
  border-radius: 15px;
}

button a{
  color: white;
}

button:hover{
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
}
