/*projects*/
.projects_container{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

.projects_list{
    display: flex;
    justify-content: center;
}

.project_card{
    background: white;
    width: 350px;
    margin: 150px;
    border-radius: 15px;
}

.project_card_image{
    background-color: aqua;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

/*medium*/
.medium_container{
    background-color: wheat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;

}

.medium_card{
    background: white;
    display: flex;
    width: 900px;
    height: 350px;
    margin: 150px;
    border-radius: 15px;
}

.medium_card div h2{
    padding: 10px;
}

.medium_card div p{
    padding: 10px;
}

.medium_card h1{/*image*/
    width: 50%;
    height: 100%;
    background-color: aqua;
    border-radius: 15px;
}

.image{
    width: 50%;
    height: 100%;
    background-image: url("../public/images/medium.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 15px;
}



