.container{
    display: flex;
    justify-content: center;
}

.card{
    background: white;
    width: 1000px;
    height: 500px;
    margin: 50px;
    border-radius: 15px;
}

.card a{
    color: blue;
    padding-left: 15px;
}

.card h3{
    padding: 10px;
}

.card h4{
    padding: 5px;
}

.card p{
    padding-left: 15px;
}